@model WebLaptopNe.Models.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="~/Content/css/home.css" rel="stylesheet" />
<div class="main">
    <div class="slider-container">
        <div class="container">
            <div class="slider">
                <div class="slider-wrapper">
                    <div class="slider-item">
                        <div class="slider-image">
                            <img src="~/Content/img/laptopback/back1.jpg" />
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="slider-image">
                            <img src="~/Content/img/laptopback/back2.jpg" />
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="slider-image">
                            <img src="~/Content/img/laptopback/back3.jpg" />
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="slider-image">
                            <img src="~/Content/img/laptopback/back4.jpg" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="banner">
                <div class="banner-top">
                    <img src="https://file.hstatic.net/200000722513/file/gearvn-4-laptop-gaming.png"
                         alt="" />
                </div>

                <div class="banner-top">
                    <img src="https://file.hstatic.net/200000722513/file/gearvn-7-gaming-gear-sub-banner.png"
                         alt="" />
                </div>

                <div class="banner-top">
                    <img src="https://file.hstatic.net/200000722513/file/gearvn-2-loa-sld-right.png"
                         alt="" />
                </div>
            </div>
        </div>
    </div>

    @if (Model.Promotions != null && Model.Promotions.Count > 0)
    {
        foreach (var promotion in Model.Promotions)
        {
            <div class="container">
                <div class="container-sale">
                    <div class="container-sale-header">
                        <div class="sale-info">
                            <h2>@promotion.PromotionName</h2>
                        </div>
                        <div class="countdown-timer" data-enddate="@promotion.EndDate">
                            <div class="time-box">
                                <p class="days">00</p>
                                <span>Ngày</span>
                            </div>
                            <div class="time-box">
                                <p class="hours">00</p>
                                <span>Giờ</span>
                            </div>
                            <div class="time-box">
                                <p class="minutes">00</p>
                                <span>Phút</span>
                            </div>
                            <div class="time-box">
                                <p class="seconds">00</p>
                                <span>Giây</span>
                            </div>
                        </div>
                    </div>

                    <div class="container-sale-product">
                        <ul class="list-product-hot" id="list-product-sale">
                            @if (promotion.Products != null && promotion.Products.Count > 0)
                            {
                                foreach (var product in promotion.Products)
                                {
                                    <li class="product-hot-item">
                                        <a href="@Url.Action("ProductDetail", "Home", new { id = product.ProductId })" class="product-link">
                                            <div class="img">
                                                <img src="@product.ProductImage" alt="@product.ProductName" />
                                            </div>
                                            <div class="product-info">
                                                <div class="product-name">
                                                    @product.ProductName
                                                </div>
                                                <p class="original-price">@String.Format("{0:0,0} VND", product.UnitPrice)</p>
                                                <div class="price-discount">
                                                    <p class="product-price">@String.Format("{0:0,0} VND", product.DiscountPrice)</p>
                                                    <p class="discount-percentage">@product.DiscountPercent %</p>
                                                </div>
                                            </div>
                                            </a>
                                    </li>

                                   
                                }
                            }
                            else
                            {
                                <p>No products available for this promotion.</p>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>No promotions available.</p>
    }






    <div class="container">
        <div class="product-wrapper">
            <div class="wrapper-title">SẢN PHẨM BÁN CHẠY</div>
            <ul class="list-product-hot">
                <li class="product-hot-item">
                    <div class="img">
                        <img src="https://denhoamy.vn/upload/attachment/thumb/8709den-chum-tiffany-trang-tri-noi-that-dc03776-04.jpg"
                             alt="" />
                    </div>

                    <div class="product-info">
                        <div class="product-name">
                            Đèn chùm Tiffany trang trí nội thất DC03776
                        </div>
                        <p class="original-price">3.000.000 VND</p>
                        <div class="price-discount">
                            <p class="product-price">2.000.000 VND</p>
                            <p class="discount-percentage">-33%</p>
                        </div>
                    </div>
                </li>
                <li class="product-hot-item">
                    <div class="img">
                        <img src="https://denhoamy.vn/upload/attachment/thumb/3771den-chum-trang-tri-phong-cach-dong-que-my-dc03768-02.jpg"
                             alt="" />
                    </div>

                    <div class="product-info">
                        <div class="product-name">
                            Đèn chùm trang trí phong cách đồng quê Mỹ DC03768
                        </div>
                        <p class="original-price">1.999.999VND</p>
                        <div class="price-discount">
                            <p class="product-price">1.499.000 VND</p>
                            <p class="discount-percentage">-33%</p>
                        </div>
                    </div>
                </li>
                <li class="product-hot-item">
                    <div class="img">
                        <img src="https://denhoamy.vn/upload/attachment/thumb/8382den-op-tran-phong-cach-trung-hoa-do01525-02.jpg"
                             alt="" />
                    </div>

                    <div class="product-info">
                        <div class="product-name">
                            Đèn ốp trần phong cách Trung Hoa DO01525
                        </div>
                        <p class="original-price">3.000.000 VND</p>
                        <div class="price-discount">
                            <p class="product-price">2.000.000 VND</p>
                            <p class="discount-percentage">-33%</p>
                        </div>
                    </div>
                </li>
                <li class="product-hot-item">
                    <div class="img">
                        <img src="https://denhoamy.vn/upload/attachment/thumb/4525den-op-tran-go-trang-tri-noi-that-phong-cach-trung-hoa-do01449-03.jpg"
                             alt="" />
                    </div>

                    <div class="product-info">
                        <div class="product-name">
                            Đèn ốp trần gỗ trang trí nội thất phong cách Trung Hoa DO01449
                        </div>
                        <p class="original-price">3.000.000 VND</p>
                        <div class="price-discount">
                            <p class="product-price">2.000.000 VND</p>
                            <p class="discount-percentage">-33%</p>
                        </div>
                    </div>
                </li>
                <li class="product-hot-item">
                    <div class="img">
                        <img src="https://denhoamy.vn/upload/attachment/704den-quat-hop-giau-canh-trang-tri-noi-that-phong-cach-trung-hoa-dq00895-03.jpg"
                             alt="" />
                    </div>

                    <div class="product-info">
                        <div class="product-name">
                            Đèn quạt hộp giấu cánh trang trí nội thất phong cách Trung Hoa DQ00895
                        </div>
                        <p class="original-price">1.000.000 VND</p>
                        <div class="price-discount">
                            <p class="product-price">500.000 VND</p>
                            <p class="discount-percentage">-50%</p>
                        </div>
                    </div>
                </li>
                <li class="product-hot-item">
                    <div class="img">
                        <img src="https://denhoamy.vn/upload/attachment/thumb/6052den-quat-tich-hop-loc-khong-khi-trang-tri-phong-ngu-chung-cu-cao-cap-dq00838-03.jpg"
                             alt="" />
                    </div>

                    <div class="product-info">
                        <div class="product-name">
                            Đèn quạt tích hợp lọc không khí trang trí phòng ngủ chung cư cao cấp DQ00838
                        </div>
                        <p class="original-price">3.000.000 VND</p>
                        <div class="price-discount">
                            <p class="product-price">2.000.000 VND</p>
                            <p class="discount-percentage">-33%</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <section class="home-product">
        <div class="container">
            <div class="product-wrapper">
                <div class="wrapper-top">
                    <div class="wrapper-category">Laptop Gaming</div>
                    <a href="@Url.Action("Category", "Home", new { categoryId = 1 })">Xem thêm</a>
                </div>

                <div class="wrapper-bottom">
                    <ul class="list-product" id="list-product1">
                        @foreach (var p in Model.Products
                            .Where(p => p.category_id == 1)
                            .OrderByDescending(p => p.created_at)
                            .Take(5))
                        {
                            var imgne = Model.ProductImages?.FirstOrDefault(pi => pi.product_id == p.id);
                            var imageUrl = imgne != null ? imgne.url : "/Content/img/default-product-image.jpg";
                            var discountedPrice = (p.unit_price - p.unit_price * p.discount_percent / 100);
                            <li class="product-item">
                                <a href="@Url.Action("ProductDetail", "Home", new { id = p.id })" class="product-link">
                                    <div class="img">
                                        <img src="@imageUrl" alt="@p.product_name" />
                                    </div>

                                    <div class="product-info">
                                        <div class="product-name">@p.product_name</div>
                                        <p class="original-price">@p.unit_price.ToString("N0") VND</p>

                                        <div class="price-discount">
                                            <p class="product-price">@discountedPrice.ToString("N0") VND</p>
                                            <p class="discount-percentage">-@p.discount_percent %</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="home-product">
        <div class="container">
            <div class="product-wrapper">
                <div class="wrapper-top">
                    <div class="wrapper-category">Laptop Văn Phòng</div>
                    <a href="@Url.Action("Category", "Home", new { categoryId = 2 })">Xem thêm</a>
                </div>

                <div class="wrapper-bottom">
                    <ul class="list-product" id="list-product1">
                        @foreach (var p in Model.Products
                            .Where(p => p.category_id == 2)
                            .OrderByDescending(p => p.created_at)
                            .Take(5))
                        {
                            var imgne = Model.ProductImages?.FirstOrDefault(pi => pi.product_id == p.id);
                            var imageUrl = imgne != null ? imgne.url : "/Content/img/default-product-image.jpg";
                            var discountedPrice = (p.unit_price - p.unit_price * p.discount_percent / 100);
                            <li class="product-item">
                                <a href="@Url.Action("ProductDetail", "Home", new { id = p.id })" class="product-link">
                                    <div class="img">
                                        <img src="@imageUrl" alt="@p.product_name" />
                                    </div>

                                    <div class="product-info">
                                        <div class="product-name">@p.product_name</div>
                                        <p class="original-price">@p.unit_price.ToString("N0") VND</p>

                                        <div class="price-discount">
                                            <p class="product-price">@discountedPrice.ToString("N0") VND</p>
                                            <p class="discount-percentage">-@p.discount_percent %</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="home-product">
        <div class="container">
            <div class="product-wrapper">
                <div class="wrapper-top">
                    <div class="wrapper-category">Laptop Like New</div>
                    <a href="@Url.Action("Category", "Home", new { categoryId = 3 })">Xem thêm</a>
                </div>

                <div class="wrapper-bottom">
                    <ul class="list-product" id="list-product1">
                        @foreach (var p in Model.Products
                            .Where(p => p.category_id == 3)
                            .OrderByDescending(p => p.created_at)
                            .Take(5))
                        {
                            var imgne = Model.ProductImages?.FirstOrDefault(pi => pi.product_id == p.id);
                            var imageUrl = imgne != null ? imgne.url : "/Content/img/default-product-image.jpg";
                            var discountedPrice = (p.unit_price - p.unit_price * p.discount_percent / 100);
                            <li class="product-item">
                                <a href="@Url.Action("ProductDetail", "Home", new { id = p.id })" class="product-link">
                                    <div class="img">
                                        <img src="@imageUrl" alt="@p.product_name" />
                                    </div>

                                    <div class="product-info">
                                        <div class="product-name">@p.product_name</div>
                                        <p class="original-price">@p.unit_price.ToString("N0") VND</p>

                                        <div class="price-discount">
                                            <p class="product-price">@discountedPrice.ToString("N0") VND</p>
                                            <p class="discount-percentage">-@p.discount_percent %</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="home-product">
        <div class="container">
            <div class="product-wrapper">
                <div class="wrapper-top">
                    <div class="wrapper-category">Phụ Kiện</div>
                    <a href="@Url.Action("Category", "Home", new { categoryId = 4 })">Xem thêm</a>
                </div>

                <div class="wrapper-bottom">
                    <ul class="list-product" id="list-product1">
                        @foreach (var p in Model.Products
                            .Where(p => p.category_id == 4)
                            .OrderByDescending(p => p.created_at)
                            .Take(5))
                        {
                            var imgne = Model.ProductImages?.FirstOrDefault(pi => pi.product_id == p.id);
                            var imageUrl = imgne != null ? imgne.url : "/Content/img/default-product-image.jpg";
                            var discountedPrice = (p.unit_price - p.unit_price * p.discount_percent / 100);
                            <li class="product-item">
                                <a href="@Url.Action("ProductDetail", "Home", new { id = p.id })" class="product-link">
                                    <div class="img">
                                        <img src="@imageUrl" alt="@p.product_name" />
                                    </div>

                                    <div class="product-info">
                                        <div class="product-name">@p.product_name</div>
                                        <p class="original-price">@p.unit_price.ToString("N0") VND</p>

                                        <div class="price-discount">
                                            <p class="product-price">@discountedPrice.ToString("N0") VND</p>
                                            <p class="discount-percentage">-@p.discount_percent %</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="feedback">
            <h2 class="feedback-title">
                ĐÁNH GIÁ KHÁCH HÀNG
                @*<div class="bar"></div>*@
            </h2>
            <ul class="feedback-list">
                <li class="feedback-item">
                    <div class="feedback-img">
                        <img src="https://images.unsplash.com/photo-1543610892-0b1f7e6d8ac1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YXZhdGFyfGVufDB8fDB8fHww"
                             alt="User Image" />
                    </div>
                    <div class="feedback-content">
                        <h3 class="user-name">Nguyễn Minh Tú</h3>
                        <p class="feedback-text">
                            "Trang web này thật sự đã mang đến cho tôi một trải nghiệm
                            tuyệt vời. Giao diện dễ sử dụng, sản phẩm đa dạng và chất
                            lượng rất tốt. Tôi đặc biệt ấn tượng với chính sách giao
                            hàng nhanh chóng và dịch vụ hỗ trợ khách hàng thân thiện.
                            Tôi sẽ quay lại và giới thiệu cho bạn bè!"
                        </p>
                    </div>
                </li>

                <li class="feedback-item">
                    <div class="feedback-img">
                        <img src="https://plus.unsplash.com/premium_photo-1671656349322-41de944d259b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D"
                             alt="User Image" />
                    </div>
                    <div class="feedback-content">
                        <h3 class="user-name">Lê Anh Tuấn</h3>
                        <p class="feedback-text">
                            "Tôi thực sự hài lòng với trang web này. Các sản phẩm luôn
                            có thông tin chi tiết và dễ dàng tìm kiếm. Tôi đặc biệt
                            thích giao diện dễ sử dụng và khả năng duyệt qua các sản
                            phẩm nhanh chóng. Dịch vụ chăm sóc khách hàng rất tuyệt vời
                            và luôn sẵn sàng hỗ trợ tôi khi có vấn đề."
                        </p>
                    </div>
                </li>

                <li class="feedback-item">
                    <div class="feedback-img">
                        <img src="https://plus.unsplash.com/premium_photo-1702598525684-fe2f8b75eb62?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDV8fHxlbnwwfHx8fHw%3D"
                             alt="User Image" />
                    </div>
                    <div class="feedback-content">
                        <h3 class="user-name">Bùi Minh Anh</h3>
                        <p class="feedback-text">
                            "Mua sắm trực tuyến thật dễ dàng với trang web này. Sản phẩm
                            phong phú, chất lượng tuyệt vời và dịch vụ khách hàng cực kỳ
                            nhanh chóng. Tôi rất vui với việc giao hàng đúng hẹn và sản
                            phẩm đến tay tôi trong tình trạng hoàn hảo. Chắc chắn sẽ
                            quay lại!"
                        </p>
                    </div>
                </li>

                <li class="feedback-item">
                    <div class="feedback-img">
                        <img src="https://images.unsplash.com/photo-1640951613773-54706e06851d?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                             alt="User Image" />
                    </div>
                    <div class="feedback-content">
                        <h3 class="user-name">Vũ Quang Hải</h3>
                        <p class="feedback-text">
                            "Tôi rất hài lòng với trải nghiệm mua sắm trên trang web
                            này. Giao diện rất dễ hiểu, dễ điều hướng và sản phẩm đa
                            dạng. Dịch vụ chăm sóc khách hàng luôn hỗ trợ nhanh chóng và
                            hiệu quả. Tôi rất mong sẽ có nhiều ưu đãi hấp dẫn hơn trong
                            tương lai."
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
<script src="~/Content/js/home.js?v=2.0"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

